@model IEnumerable<Esercitazione_19_07.Models.ViolazionePuntiDieci>

@{
    ViewData["Title"] = "Violazioni > 10 punti";
}
<link rel="stylesheet" href="~/css/GetAllViolazioni.css" />

<div class="container">
    <div class="table-container">
        <h1>Violazioni che superano i 10 punti</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cognome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataViolazione)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Importo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DecurtamentoPunti)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cognome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataViolazione)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>